.app {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

@media (max-width: 48rem) {
    .app {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}
