.numbers {
    width: 100%;
    box-sizing: border-box;
}

.numbersList {
    min-height: 6rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

@media (max-width: 48rem) {
    .numbersList {
        width: 100%;
        justify-items: center;
    }
}
