.selectBackdrop {
    position: fixed;
    inset: 0;
    z-index: 1;
}

.select {
    position: absolute;
    overflow: hidden;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
    box-shadow: 0.125rem 0.125rem 0.1875rem var(--shadow-color);
    border-top: 0.0625rem solid var(--border-control-box);
    border-left: 0.0625rem solid var(--border-control-box);
    transition:
        box-shadow 0.2s ease,
        border 0.2s ease;
}

.select button {
    background-color: var(--background-color-control-box);
    padding: 0.5rem 2rem;
    margin: 0;
    width: 100%;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition:
        background-color 0.2s ease,
}

.select button:hover,
.select button:focus-visible {
    filter: brightness(var(--text-filter));
}

#puzzleSelect {
    border-top: 0.0625rem solid var(--text-color);
}
